---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import Vision from "../components/Vision.astro";
import Services from "../components/Services.astro";
import IntegrationsWall from "../components/IntegrationsWall.astro";
import Integrations from "../components/Integrations.astro";
import Process from "../components/Process.astro";
import HyperScroll from "../components/HyperScroll.astro";
import Results from "../components/Results.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <TrustBar />
    <Vision />
    <Process />
    <Services />
    <IntegrationsWall />
    <Integrations />
    <HyperScroll />
    <Results />
    <FinalCTA />
  </main>
  <Footer />
</Base>
